{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Valureach - Connection Settings{% endblock %}

{% block page_content %}

<h2>Initial Steps to be carried out on the Twitter website</h2>
<ul class = "list-group">
    <ui class = "list-group-item">login to your Twitter account</ui>
    <ui class = "list-group-item">make sure you have a mobile phone number assigned to your account</ui>
    <ui class = "list-group-item">go to apps.twitter.com</ui>
    <ui class = "list-group-item">create a new app, what you enter here is arbitrary</ui>
    <ui class = "list-group-item">create an access_token and access_token_secret</ui>
    <ui class = "list-group-item">enter these below with copy and paste</ui>
</ul>
<div class="page-header">
    <h1>Enter Connection Settings</h1>
</div>
<div class="col-md-4"> {{ wtf.quick_form(form) }}
</div>

{% endblock %}
